#page {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(227, 221, 221);
}


.overskrift {
    color: rgba(196, 11, 11, 0.59);
    font-size: 60px;
}

.underskrift    {
    font-size: 40px;
    color: rgba(196, 11, 11, 0.59);
}

.bio {
font-size: 30px;
}

.sjefen {
font-size: 20px;
}